version: '3.9'

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: logiflow
      POSTGRES_PASSWORD: logiflow
      POSTGRES_DB: logiflow
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    environment:
      DATABASE_URL: postgresql://logiflow:logiflow@postgres:5432/logiflow
      REDIS_URL: redis://redis:6379/0
      OSRM_URL: http://osrm:5000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - osrm

  worker:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    command: celery -A src.worker.celery worker --loglevel=info
    environment:
      DATABASE_URL: postgresql://logiflow:logiflow@postgres:5432/logiflow
      REDIS_URL: redis://redis:6379/0
      OSRM_URL: http://osrm:5000
    depends_on:
      - postgres
      - redis
      - osrm

  frontend:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - api

  osrm:
    image: osrm/osrm-backend:v5.27.1
    volumes:
      - ../osrm:/data
    command: osrm-routed --algorithm mld /data/sample.osrm
    ports:
      - "5000:5000"

volumes:
  pgdata:
